
// Light Solarized
$light-accent-color: #268bd2;
$light-background-main: #fdf6e3;
$light-background-second: #eee8d5;
$light-border-color: #93a1a1;
$light-title-color: #268bd2;
$light-text-color: #586e75;
$light-text-link-color: #268bd2;
$light-text-link-color-active: #2aa198;
$light-smoke: #2aa198;
$light-gray: #2aa198;
$light-go-top-bg: #eee8d5;
$light-go-top-bg-hover: #fdf6e3;
$light-text-color-code: #93a1a1;
$light-text-color-code-parenthesis: #b58900;

// One Light
$light-accent-color: #61afef;
$light-background-main: #fafafa;
$light-background-second: #e2e2e2;
$light-border-color: #ccc;
$light-title-color: #61afef;
$light-text-color: #282c34;
$light-text-link-color: #61afef;
$light-text-link-color-active: #98c379;
$light-smoke: #98c379;
$light-gray: #98c379;
$light-go-top-bg: #e2e2e2;
$light-go-top-bg-hover: #fafafa;
$light-text-color-code: #61afef;
$light-text-color-code-parenthesis: #e06c75;

// Nord Light
$light-accent-color: #5e81ac;
$light-background-main: #eceff4;
$light-background-second: #d8dee9;
$light-border-color: #d8dee9;
$light-title-color: #5e81ac;
$light-text-color: #2e3440;
$light-text-link-color: #5e81ac;
$light-text-link-color-active: #81a1c1;
$light-smoke: #81a1c1;
$light-gray: #81a1c1;
$light-go-top-bg: #d8dee9;
$light-go-top-bg-hover: #eceff4;
$light-text-color-code: #5e81ac;
$light-text-color-code-parenthesis: #bf616a;

// Material Light
$light-accent-color: #f44336;
$light-background-main: #ffffff;
$light-background-second: #f5f5f5;
$light-border-color: #eeeeee;
$light-title-color: #f44336;
$light-text-color: #212121;
$light-text-link-color: #f44336;
$light-text-link-color-active: #e57373;
$light-smoke: #e57373;
$light-gray: #e57373;
$light-go-top-bg: #f5f5f5;
$light-go-top-bg-hover: #ffffff;
$light-text-color-code: #f44336;
$light-text-color-code-parenthesis: #ff5722;

// Flat UI Light
$light-accent-color: #1abc9c;
$light-background-main: #ecf0f1;
$light-background-second: #bdc3c7;
$light-border-color: #95a5a6;
$light-title-color: #1abc9c;
$light-text-color: #34495e;
$light-text-link-color: #1abc9c;
$light-text-link-color-active: #16a085;
$light-smoke: #16a085;
$light-gray: #16a085;
$light-go-top-bg: #bdc3c7;
$light-go-top-bg-hover: #ecf0f1;
$light-text-color-code: #1abc9c;
$light-text-color-code-parenthesis: #f39c12;
