// Dracula
$dark-accent-color: #8be9fd;
$dark-background-main: #282a36;
$dark-background-second: #44475a;
$dark-border-color: #6272a4;
$dark-title-color: #f8f8f2;
$dark-text-color: #f8f8f2;
$dark-text-link-color: #8be9fd;
$dark-text-link-color-active: #50fa7b;
$dark-smoke: #44475a;
$dark-gray: #6272a4;
$dark-go-top-bg: #44475a;
$dark-go-top-bg-hover: #282a36;
$dark-text-color-code: #f8f8f2;
$dark-text-color-code-parenthesis: #ff79c6;

// Monokai
$dark-accent-color: #f92672;
$dark-background-main: #272822;
$dark-background-second: #383830;
$dark-border-color: #3e3d32;
$dark-title-color: #f92672;
$dark-text-color: #f8f8f2;
$dark-text-link-color: #f92672;
$dark-text-link-color-active: #66d9ef;
$dark-smoke: #66d9ef;
$dark-gray: #66d9ef;
$dark-go-top-bg: #383830;
$dark-go-top-bg-hover: #272822;
$dark-text-color-code: #f8f8f2;
$dark-text-color-code-parenthesis: #ae81ff;

// Nord
$dark-accent-color: #88c0d0;
$dark-background-main: #2e3440;
$dark-background-second: #3b4252;
$dark-border-color: #434c5e;
$dark-title-color: #88c0d0;
$dark-text-color: #eceff4;
$dark-text-link-color: #88c0d0;
$dark-text-link-color-active: #81a1c1;
$dark-smoke: #81a1c1;
$dark-gray: #81a1c1;
$dark-go-top-bg: #3b4252;
$dark-go-top-bg-hover: #2e3440;
$dark-text-color-code: #eceff4;
$dark-text-color-code-parenthesis: #d08770;

// Solarized Dark
$dark-accent-color: #839496;
$dark-background-main: #002b36;
$dark-background-second: #073642;
$dark-border-color: #586e75;
$dark-title-color: #93a1a1;
$dark-text-color: #93a1a1;
$dark-text-link-color: #268bd2;
$dark-text-link-color-active: #2aa198;
$dark-smoke: #2aa198;
$dark-gray: #2aa198;
$dark-go-top-bg: #073642;
$dark-go-top-bg-hover: #002b36;
$dark-text-color-code: #93a1a1;
$dark-text-color-code-parenthesis: #b58900;

// Gruvbox Dark
$dark-accent-color: #d79921;
$dark-background-main: #282828;
$dark-background-second: #3c3836;
$dark-border-color: #504945;
$dark-title-color: #d79921;
$dark-text-color: #ebdbb2;
$dark-text-link-color: #d79921;
$dark-text-link-color-active: #b8bb26;
$dark-smoke: #b8bb26;
$dark-gray: #b8bb26;
$dark-go-top-bg: #3c3836;
$dark-go-top-bg-hover: #282828;
$dark-text-color-code: #ebdbb2;
$dark-text-color-code-parenthesis: #fb4934;

// One Dark
$dark-accent-color: #61afef;
$dark-background-main: #282c34;
$dark-background-second: #3e4451;
$dark-border-color: #4b5263;
$dark-title-color: #61afef;
$dark-text-color: #abb2bf;
$dark-text-link-color: #61afef;
$dark-text-link-color-active: #98c379;
$dark-smoke: #98c379;
$dark-gray: #98c379;
$dark-go-top-bg: #3e4451;
$dark-go-top-bg-hover: #282c34;
$dark-text-color-code: #abb2bf;
$dark-text-color-code-parenthesis: #e06c75;

// Cobalt2
$dark-accent-color: #ffcc00;
$dark-background-main: #1e1f29;
$dark-background-second: #2c2f38;
$dark-border-color: #444b58;
$dark-title-color: #ffcc00;
$dark-text-color: #e6e6e6;
$dark-text-link-color: #ffcc00;
$dark-text-link-color-active: #e5e5e5;
$dark-smoke: #e5e5e5;
$dark-gray: #e5e5e5;
$dark-go-top-bg: #2c2f38;
$dark-go-top-bg-hover: #1e1f29;
$dark-text-color-code: #e6e6e6;
$dark-text-color-code-parenthesis: #a6e22e;

// Tokyo Night
$dark-accent-color: #c9d1d9;
$dark-background-main: #1a1b26;
$dark-background-second: #24273a;
$dark-border-color: #303446;
$dark-title-color: #c9d1d9;
$dark-text-color: #a5b1c2;
$dark-text-link-color: #8fa7c4;
$dark-text-link-color-active: #5b8f99;
$dark-smoke: #5b8f99;
$dark-gray: #5b8f99;
$dark-go-top-bg: #24273a;
$dark-go-top-bg-hover: #1a1b26;
$dark-text-color-code: #a5b1c2;
$dark-text-color-code-parenthesis: #c792ea;

// Palenight
$dark-accent-color: #a6e3e9;
$dark-background-main: #292d3e;
$dark-background-second: #434758;
$dark-border-color: #616a7d;
$dark-title-color: #a6e3e9;
$dark-text-color: #e1e4f1;
$dark-text-link-color: #a6e3e9;
$dark-text-link-color-active: #82aaff;
$dark-smoke: #82aaff;
$dark-gray: #82aaff;
$dark-go-top-bg: #434758;
$dark-go-top-bg-hover: #292d3e;
$dark-text-color-code: #e1e4f1;
$dark-text-color-code-parenthesis: #c792ea;

// Vscode Dark
$dark-accent-color: #569cd6;
$dark-background-main: #1e1e1e;
$dark-background-second: #2d2d2d;
$dark-border-color: #444444;
$dark-title-color: #569cd6;
$dark-text-color: #d4d4d4;
$dark-text-link-color: #569cd6;
$dark-text-link-color-active: #6a9955;
$dark-smoke: #6a9955;
$dark-gray: #6a9955;
$dark-go-top-bg: #2d2d2d;
$dark-go-top-bg-hover: #1e1e1e;
$dark-text-color-code: #d4d4d4;
$dark-text-color-code-parenthesis: #ce9178;

// Light Solarized
$light-accent-color: #268bd2;
$light-background-main: #fdf6e3;
$light-background-second: #eee8d5;
$light-border-color: #93a1a1;
$light-title-color: #268bd2;
$light-text-color: #586e75;
$light-text-link-color: #268bd2;
$light-text-link-color-active: #2aa198;
$light-smoke: #2aa198;
$light-gray: #2aa198;
$light-go-top-bg: #eee8d5;
$light-go-top-bg-hover: #fdf6e3;
$light-text-color-code: #93a1a1;
$light-text-color-code-parenthesis: #b58900;

// One Light
$light-accent-color: #61afef;
$light-background-main: #fafafa;
$light-background-second: #e2e2e2;
$light-border-color: #ccc;
$light-title-color: #61afef;
$light-text-color: #282c34;
$light-text-link-color: #61afef;
$light-text-link-color-active: #98c379;
$light-smoke: #98c379;
$light-gray: #98c379;
$light-go-top-bg: #e2e2e2;
$light-go-top-bg-hover: #fafafa;
$light-text-color-code: #61afef;
$light-text-color-code-parenthesis: #e06c75;

// Nord Light
$light-accent-color: #5e81ac;
$light-background-main: #eceff4;
$light-background-second: #d8dee9;
$light-border-color: #d8dee9;
$light-title-color: #5e81ac;
$light-text-color: #2e3440;
$light-text-link-color: #5e81ac;
$light-text-link-color-active: #81a1c1;
$light-smoke: #81a1c1;
$light-gray: #81a1c1;
$light-go-top-bg: #d8dee9;
$light-go-top-bg-hover: #eceff4;
$light-text-color-code: #5e81ac;
$light-text-color-code-parenthesis: #bf616a;

// Material Light
$light-accent-color: #f44336;
$light-background-main: #ffffff;
$light-background-second: #f5f5f5;
$light-border-color: #eeeeee;
$light-title-color: #f44336;
$light-text-color: #212121;
$light-text-link-color: #f44336;
$light-text-link-color-active: #e57373;
$light-smoke: #e57373;
$light-gray: #e57373;
$light-go-top-bg: #f5f5f5;
$light-go-top-bg-hover: #ffffff;
$light-text-color-code: #f44336;
$light-text-color-code-parenthesis: #ff5722;

// Flat UI Light
$light-accent-color: #1abc9c;
$light-background-main: #ecf0f1;
$light-background-second: #bdc3c7;
$light-border-color: #95a5a6;
$light-title-color: #1abc9c;
$light-text-color: #34495e;
$light-text-link-color: #1abc9c;
$light-text-link-color-active: #16a085;
$light-smoke: #16a085;
$light-gray: #16a085;
$light-go-top-bg: #bdc3c7;
$light-go-top-bg-hover: #ecf0f1;
$light-text-color-code: #1abc9c;
$light-text-color-code-parenthesis: #f39c12;
